*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.a {
    color: #4b566b;
    text-decoration: none;
    display: block;
}
.a:hover {
    color: #FE696A;
}
.d-flex {
    display: flex;
}
.body {
    color: #4b566b;
    flex-direction: column;
    min-height: 100vh;
    min-width: 350px;
}
.header {
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 3;
}
.topbar {
    min-height: 41.36px;
    background-color: #373f50;
}
.navbar {
    padding: 12px 15px;
}
.navbar-group {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 10px 0px;
    margin: 0px 8px 0px 0px;
    order: 0;
}
.logo img {
    max-height: 34px;
}
.logo.small {
    width: 74px;
}
.logo.large {
    width: 142px;
    display: none; 
}
.navbar-search {
    position: relative;
    width: 100%;
    order: 2;
    display: none;
}
.navbar-search.active {
    display: block;
}
.input {
    display: block;
    width: 100%;
    padding: 10px 48px 10px 16px;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #dae1e7;
    background-clip: padding-box;
    border: 1px solid #dae1e7;
    border-radius: .3125rem;
}
.search-icon {
    font-size: 1.15rem;
    line-height: 1rem;
    color: #7d879c;
    position: absolute;
    top: 30%;
    right: 0;
    margin-right: 1rem;
}
.input:focus {
    outline: none;
    border: 1px solid #FE696A;
}
.navbar-toolbar {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    order: 1;
}
.navbar-tool {
    position: relative;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.navbar-tool-icon-box {
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    line-height: 3.1rem;
    text-align: center;
}
.navbar-tool-icon-label {
    position: absolute;
    top: -0.3125rem;
    right: -0.3125rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #fe696a;
    color: #fff;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.25rem;
}
.navbar-tool-icon {
    font-size: 1.25rem;
    line-height: 2.875rem;
    color: #7d879c;
}
small {
    color: #7d879c;
}
.navbar-tool-text {
    flex-direction: column;
    font-size: .875rem;
    white-space: nowrap;
    margin-left: -1rem;
    margin-right: .5rem;
    padding-left: .875rem;
    display: none;
}
.navbar-tool-text.text-cart {
    margin-left: -0.3rem;
}
.navbar-tool.wish-list {
    display: none;
}
.navbar-menu {
    padding: 10px 0px;
    order: 3;
    flex-direction: column;
    flex-basis: 100%;
    display: none;
}
.navbar-menu.active {
    display: flex;
}
.navbar-menu-item {
    padding: 10px 5px;
    font-size: 16px;
}
.main {
    flex-direction: column;
    flex-grow: 1;
}
.footer {
    background-color: black;
    color: cornsilk;
    padding: 10px 5%;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .logo.small {
        display: none;
    }
    .logo.large {
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .logo {
        flex-grow: 0;
    }
    .navbar-search {
        width: auto;
        flex-grow: 1;
        order: 1;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        display: block;
    }
    .navbar-tool {
        order: 2;
    }
    .toggle {
        display: none;
    }
    .navbar-tool.wish-list {
        display: block;
    }
    .navbar-tool-text {
        display: flex;
    }
    .navbar-menu {
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }
    .navbar-menu-item {
        margin-right: 35px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-group {
        max-width: 1260px;
        margin-right: auto;
        margin-left: auto;
    }
}