.product-list {
    flex-direction: row;
    flex-wrap: wrap;
}
.product-item {
    padding-right: .5rem;
    padding-left: .5rem;
    margin-bottom: 1.5rem;
    flex-shrink: 0;
    width: 100%;
}
.product-item-img-box {
    display: block;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;
}
.product-item-img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    pointer-events: none;
}
.product-item-body {
    flex-direction: column;
}
.product-category {
    display: block;
    color: #7d879c;
    font-size: 0.75rem;
    padding-bottom: 4px;
}
.product-title {
    display: block;
    color: #373f50;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: .75rem;
}
.product-price {
    color: #4e54c8;
    font-size: 16px;
    padding-bottom: .5rem;
}
.product-price small {
    color: #4e54c8;
}
.btn.btn-primary.add-to-card {
    padding: .425rem 1rem;
    font-size: 0.8125rem;
    border-radius: .25rem;
    margin-bottom: .5rem;
}

@media (min-width: 500px) {
    .product-item {
        width: 50%;
    }
}

@media (min-width: 576px) { 
}

@media (min-width: 768px) {
    .product-item {
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {
    .product-item {
        width: 25%;
    }
}

@media (min-width: 1200px) { 
    .product-list {
        max-width: 1260px;
        margin-right: auto;
        margin-left: auto;
    }
}